main {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

table {
  margin: 50px auto;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #000;
}

th,
td {
  padding: 5px;
}

.sortable {
  cursor: pointer;
}

th,
.delete-row-btn,
.edit-row-btn {
  /* Centrado horizontal */
  text-align: center;
  /* Centrado vertical si es necesario */
  vertical-align: middle;
  /* Otros estilos como padding, margen, etc. */
}
